/*Navbar*/
.navbar {/*
    margin-top: 10px;*/
}
.nav-link{
    margin-right: 15px;
}
.navbar-brand{
    margin-left: 25px;
}
/* Jumbotron */
.jumbotron {
    background-image: url(bg.jpg);
    background-size: cover !important;
    /*background-repeat: no-repeat;*/
    background-color: #D2C8C9 !important;
    height: 800px;
    margin-top: -120px;
    margin-left: -35px;
    margin-right: -42px;
}
.jumbotron .lead{
    font-size: 35px;
    text-align: center;
    font-style: bold !important;
    margin-top: -35%;
    margin-right: 50px;
    margin-left: 20%;
    font-family: arial Rounded MT bold;
}
.jumbotron .container{
	width: 40% !important;
	height: 63%;
	margin-top: 140px;
	box-shadow: 0 3px 20px rgba(0,0,0,0.3);
	padding: 70px;
	margin-right: 7% !important;
	border-color: #5D3C81;
	background-color: #d9d9d9;
	/*border-radius: 60px;*/
	/*margin-bottom: 45%;*/
}
/*akhir jumbotron*/
.form{
	border-color: #5D3C81 !important;
}
.datanya{
	margin-top: 12% !important;
}
.row .col .ktm{
	height: 30%;
}
a{
	width: 155% !important;
	margin-left: -40% !important;
}
.btn{
	width: 28% !important;
	margin-left: 60px !important;
	background-color: #FFFFFF !important;
    border-color: #5D3C81 !important;
    color: #000000 !important;
    margin-top: 20px !important;
    font-style: bold !important;
}
body{
	background-color: #D2C8C9 !important;
}