
/*Navbar*/
.navbar {/*
    margin-top: 10px;*/
}
.nav-link{
    margin-right: 15px;
}
.navbar-brand{
    margin-left: 25px;
}
/* Jumbotron */
.jumbotron {
/*    background-image: url(bg.jpg);*/
    background-size: cover;
    /*background-repeat: no-repeat;*/
    background-color: #D2C8C9 !important;
    height: 800px;
    margin-top: -120px;
    margin-left: -35px;
    margin-right: -42px;
}
.jumbotron .lead{
    font-size: 45px;
    text-align: center;
    font-style: bold !important;
    margin-top: 190px;
    margin-right: -80px;
    margin-left: 35%;
    font-family: arial Rounded MT bold;
}
.jumbotron .card{
	border-style: inset;
	border-color: #5D3C81;
	text-align: center;
	padding: 20px;
	font-size: 15px;
	margin-left: 30px;
	background: transparent;
}
.jumbotron .btn{
	background-color: #FFFFFF !important;
	border-color: #5D3C81 !important;
	color: #000000 !important;
}
/*akhir jumbotron*/
.row{
	margin-top: 180px;
}
.card-text{
	font-style: center;
	/*margin-top: 5px;*/
}
.tombol{
	margin-left: 88%;
	margin-top: 55px;
	width: 80px;
	background-color: #FFFFFF !important;
	border-color: #5D3C81 !important;
	color: #000000 !important;
}